    
    <header class="mainHeader" id="mainHeader">
        <div class="container">
            <div class="mainHeader__top">
                <div class="mainHeader__logo">
                    <a href="#!"><img src="img/logo.jpg" alt="bello jewels"></a>
                </div>

                <div class="mainHeader__links">
                    <a href="#!" class="search"><img src="img/svg/search.svg" alt="search"></a>
                    
                    <span class="divider">|</span>
                    
                    <a href="#!" class="cartIcon">
                        <img src="img/svg/bag.svg" alt="search">
                        <span class="cartCount">4</span>
                        <span class="text">£349.00</span>
                    </a>

                    <a href="#!">
                        <img src="img/svg/heart.svg" alt="heart">
                        <span class="text">3</span>
                    </a>

                    <a href="#!">
                        <img src="img/svg/login.svg" alt="heart">
                        <span class="text">Sign in</span>
                    </a>

                    <a href="#!" id="showMenu" class="menu shown--tablet-big">
                        <img src="img/svg/menu-icon.jpg" alt="lines">
                    </a>
                </div>
            </div>

            <div class="mainHeader__bottom">
                <div class="mainHeader__mainMenu">
                    <ul>
                        <li><a href="#!">Lose Gemstones</a></li>
                        <li>
                            <a href="#!">Gemstone Jewellery</a>
                            <ul class="dropdown-custom">
                                <li><a href="#!">Submenu</a></li>
                                <li><a href="#!">Submenu</a></li>
                                <li><a href="#!">Submenu</a></li>
                            </ul>
                        </li>
                        <li><a href="#!">Rurrasha Seeds</a></li>
                        <li><a href="#!">Vedic Astrological Solutions</a></li>
                        <li><a href="#!">Free Gemestone Recommendation</a></li>
                        <li><a href="#!" id="showMenu"><img src="img/svg/menu-icon.jpg" alt="lines"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        @@include('./_menu.html')
    </header> <!--// .mainHeader::END \\-->