
    <div class="mainMenu" id="mainMenu">
        <ul class="mainNav">
            <li><a href="#!">Lose Gemstones</a></li>
            <li>
                <a href="#!">Gemstone Jewellery</a>
                <ul class="dropdown-custom">
                    <li><a href="#!">Submenu</a></li>
                    <li><a href="#!">Submenu</a></li>
                    <li><a href="#!">Submenu</a></li>
                </ul>
            </li>
            <li><a href="#!">Rurrasha Seeds</a></li>
            <li><a href="#!">Vedic Astrological Solutions</a></li>
            <li><a href="#!">Free Gemestone Recommendation</a></li>
        </ul>
    </div>